
{{>appstop}}



    {{>header}}

    <div>

        <form>
             <div><label for="location">Enter Place</label>

             <input type="text" name="location" id="location">
             <button>Search</button>
             </div>

        
        </form>

        <div>
            <p id="first-message"></p>
            <p id="second-message"></p>
        </div>
    </div>
<script src="/js/app.js"></script>
{{>footer}}    
